include Makefile CHANGES LICENSE MANIFEST MANIFEST.in
recursive-include src *.c *.h
recursive-include docs *.py *.rst
include docs/Makefile docs/make.bat
graft docs/_static
graft docs/_templates
recursive-include examples *.py
recursive-include tests *test*.py
