include Makefile
include CHANGES
include LICENSE
include MANIFEST.in
include README.rst
include README.md
recursive-include src *.c *.h
recursive-include docs *.py *.rst
recursive-include pydocs *.html
include docs/Makefile docs/make.bat
graft docs/_static
graft docs/_templates
recursive-include examples *.py
recursive-include tests *test*.py
